#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}

body {
  background-color: red;
  font-size: 16px;
  color: yellow;
}
.title {
  font-weight: bold;
}
#para {
  background-color: blue;
  opacity: 0.8;
}
.navbar-brand h1 { Restaurant name 
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  background-color: black;
  color: #951C49;
  text-align: center;
}
#nav-list a span {
  font-size: 1.8em;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  /* End Header */

}